@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --space-invader-color: #a3e635;
    --dinosaur-color: #d2042d;
}

@keyframes ghostFloat {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px);
    }
    75% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

.ghost-float {
    animation: ghostFloat 5s linear infinite;
}

@theme {
    --font-sans: "Courier New", "monospace";
}
