---
import Link from "./Link.astro";
import Timeline from "./Timeline.astro";
import GitHubIcon from "../assets/icons/github.svg";
import TwitterIcon from "../assets/icons/twitter.svg";
import LinkedInIcon from "../assets/icons/linkedin.svg";
import BlueskyIcon from "../assets/icons/bluesky.svg";
---

<main class="min-h-screen flex flex-col flex-auto">
    <div class="dinosaur mx-auto grow-0"></div>
    <div class="flex flex-col justify-center grow">
        <h1 class="text-6xl text-center">RILEY DRAWARD</h1>
        <p class="mt-4 text-2xl text-center">Software Developer & Advocate</p>
        <div class="mt-2 flex justify-center items-center">
            <div class="flex flex-row gap-4">
                <Link href="https://github.com/rdraward" name="GitHub">
                    <GitHubIcon width={24} />
                </Link>
                <Link href="https://twitter.com/rdraward" name="Twitter/X">
                    <TwitterIcon width={24} />
                </Link>
                <Link href="https://www.linkedin.com/in/riley-draward" name="LinkedIn">
                    <LinkedInIcon width={24} />
                </Link>
                <Link href="https://bsky.app/profile/draward.bsky.social" name="Bluesky">
                    <BlueskyIcon width={24} />
                </Link>
            </div>
        </div>
        <Timeline />
    </div>
    <div class="space-invader mx-auto hidden md:block"></div>
</main>
