---
import Link from "./Link.astro";
import Timeline from "./Timeline.astro";
import GitHubIcon from "../assets/icons/github.svg";
import LinkedInIcon from "../assets/icons/linkedin.svg";
import BlueskyIcon from "../assets/icons/bluesky.svg";
---

<main class="min-h-screen flex flex-col flex-auto">
    <div class="dinosaur mx-auto grow-0"></div>
    <div
        class="flex flex-col md:justify-center md:items-center justify-start grow pt-4 px-6 md:px-0"
    >
        <h1 class="text-6xl text-center">RILEY DRAWARD</h1>
        <p class="mt-3 text-2xl text-center">
            Software Engineer & Developer Advocate
        </p>
        <div class="mt-3 flex justify-center items-center">
            <div class="flex flex-row gap-4">
                <Link href="https://github.com/rdraward" name="GitHub">
                    <GitHubIcon width={24} />
                </Link>
                <Link
                    href="https://www.linkedin.com/in/riley-draward"
                    name="LinkedIn"
                >
                    <LinkedInIcon width={24} />
                </Link>
                <Link
                    href="https://bsky.app/profile/draward.dev"
                    name="Bluesky"
                >
                    <BlueskyIcon width={24} />
                </Link>
            </div>
        </div>
        <Timeline />
    </div>
    <div class="space-invader mx-auto"></div>
</main>
