---
import "../styles/pixel-corners.css";

interface Props {
    title: string;
    href: string;
    date: string;
}

const { title, href, date } = Astro.props;
---

<a
    class="text-neutral-100 hover:text-neutral-300 transition-colors duration-200 bg-neutral-600 pixel-corners p-3 flex justify-between items-center"
    href={href}
    target="_blank"
    aria-label={title}
>
    <div class="font-medium">{title}</div>
    <div class="text-sm text-neutral-300">{date}</div>
</a>
