---
import "../styles/pixel-corners.css";
import JobCard from "./JobCard.astro";
import GadgetLogo from "../assets/logos/gadget.png";
import HomeIcon from "../assets/icons/home.svg";
import { getCollection } from "astro:content";

const links = await getCollection("links");
---

<main class="min-h-screen flex flex-col p-16">
    <div class="flex items-start pb-12">
        <div class="w-48 flex justify-center">
            <a href="/" class="mt-5">
                <HomeIcon
                    class="w-6 h-6 text-neutral-100 hover:text-neutral-300"
                />
            </a>
        </div>
        <div class="flex-1 flex justify-center">
            <h1 class="text-4xl p-4">Stuff I've made :)</h1>
        </div>
    </div>
    <div class="flex relative gap-8">
        <div>
            <h2 class="text-xl font-semibold p-4 text-center">Videos</h2>
            <div class="w-48 h-48">
                <JobCard
                    title="Tutorials & Demos"
                    company="Gadget"
                    logo={GadgetLogo}
                    url="https://www.youtube.com/@gadget_dev"
                />
            </div>
        </div>
        <div class="flex-1">
            <div class="max-h-96 overflow-y-auto">
                <table class="w-full">
                    <thead class="bg-neutral-300">
                        <tr>
                            <th
                                class="text-left p-4 text-xl font-semibold text-neutral-900"
                                >Writing</th
                            >
                            <th
                                class="text-right p-4 text-lg font-semibold text-neutral-900"
                                >Date</th
                            >
                        </tr>
                    </thead>
                    <tbody>
                        {
                            links.map((item) => (
                                <tr class="border-b border-neutral-700 hover:bg-slate-700 transition-colors">
                                    <td colspan="2">
                                        <a
                                            href={item.data.href}
                                            target="_blank"
                                            class="p-4 flex justify-between w-full text-neutral-100 hover:text-neutral-300 transition-colors font-medium"
                                        >
                                            <span>{item.data.title}</span>
                                            <span class="text-right text-neutral-300 text-sm">
                                                {item.data.date}
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            ))
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
