---
interface Props {
  href: string;
  name: string;
}

const { href, name } = Astro.props;
---

<a
    class="mx-auto text-center hover:text-gray-400 transition-colors duration-200"
    href={href}
    target="_blank"
    aria-label={name}
>
    <button class="p-2 cursor-pointer">
        <slot />
    </button>
</a>
