---
import "../styles/pixel-corners.css";

interface Props {
    href: string;
    name: string;
    target?: string;
}

const { href, name, target } = Astro.props;
---

<a
    class="mx-auto text-center text-neutral-100 transition-colors duration-200 pixel-corners"
    href={href}
    target={target || "_blank"}
    aria-label={name}
>
    <button class="p-2 cursor-pointer">
        <slot />
    </button>
</a>
