---
import "../styles/pixel-corners.css";

interface Props {
    href: string;
    name: string;
}

const { href, name } = Astro.props;
---

<a
    class="mx-auto text-center text-neutral-100 hover:text-neutral-300 transition-colors duration-200 pixel-corners"
    href={href}
    target="_blank"
    aria-label={name}
>
    <button class="p-2 cursor-pointer">
        <slot />
    </button>
</a>
