---
interface Props {
    isLatest: boolean;
    isMobile?: boolean;
}

const { isLatest, isMobile = false } = Astro.props;
---

<div
    class:list={[
        "w-4 h-4 border-2",
        isLatest
            ? "bg-[var(--dinosaur-color)] border-slate-300 dark:border-neutral-200"
            : "bg-slate-300 dark:bg-neutral-200 border-slate-400 dark:border-neutral-500",
        isMobile ? "absolute left-2" : "z-10",
    ]}
>
</div>
